/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #b5305f
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// Custom blocks
$customTip = #0af541
$customWarning = #e6c005
$customDanger = #d60902